@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');


html{
	font-family: 'Merriweather', serif;
	font-size: 62.5%;

	}

*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;

}

ul {
	list-style: none;
}

body{
	background: linear-gradient(60deg, orange,lightyellow);
}

/* -------- Referencia de colores ---------- 

.Mad-Women-1-rgba { color: rgba(127, 126, 119, 1); }
.Mad-Women-2-rgba { color: rgba(130, 18, 44, 1); }
.Mad-Women-3-rgba { color: rgba(255, 249, 212, 1); }
.Mad-Women-4-rgba { color: rgba(130, 126, 102, 1); }
.Mad-Women-5-rgba { color: rgba(136, 160, 155, 1); }*/

.logo-iconosize{
	width: 250px;
}

.background{
	background-image: repeat;
}

/*--------- Propiedades de Navs --------- */

nav ul li a:hover{
	color: rgba(130, 18, 44, 1);
	font-size: 2.1rem;
}



nav ul li{
	display: inline-block;
	margin-right: 40px;
	}

.nav_principal {
	display: flex;
	justify-content: center;
	height: auto;
	padding: 10px;
	background: rgba(136, 160, 155, 1);
	
}

.nav_principal--text{
	color: rgba(255, 249, 212, 1);
	font-style: italic;
	font-family: 'Merriweather', serif;
	font-size: 2rem;

}


.div_login_donate{
	display: flex;
	justify-content:space-evenly;
	/*padding: 140px;*/*/
	text-align: center;
	align-items: center;
	margin: 20px;

	}


.nav_login_donate--text{
	color: rgba(130, 18, 44, 1);
	font-style: bold;
	font-size: 1.7rem;

}

/*--------- Animacion en link "Queres donar?" ---------*/

#scale:hover{ 
	transform: scale(1.5, 1.5);
	transition: 0.5s;
	cursor: pointer;
	color: grey;
	}




/*---------Propiedades de textos--------*/

.titulo_principal--l{
	font-size: 3rem;
	font-style: bold;
	margin: 15px;

}

.text-align--center{
	text-align: center;
}

.text-align--justify{
	text-align: justify;
}

.titulo_intermedio--m{
	font-size: 2rem;
	margin: 15px;

}

.titulos_forms{
	font-size: 2rem;
	color: rgba(136, 160, 155, 1);

}

.titulo_intermedio--border{
	border-bottom: grey 1px dotted;
}

.parrafos{
	font-size: 1.5rem;
	line-height: 25px;

}

/*-------- Propiedades de imagenes en index.html ---------*/

.imagen_principal{
  display: flex;
  margin: 20px;
  width: 100%

}

.div_contenedor{
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_contenedor div{
	margin:30px 
}

}
/* ------Propiedades de pagina Causas ---------- */

.imagen_causas{
	width: 50%;
	display: flex;
}

.icono_causas{
	display: inline-block;
	margin: 35px 100px 50px 250px;
}

.h1_causas{
	display: inline-block;
	margin: 200px 0px 130px -250px;
}

.causas_igualdad{
	width: 50%
}
	


.mapa_parrafos-sm{
	font-size:1.5rem

}

.parrafos_causas{
	font-size: 1.3rem;
	line-height: 25px;
	width: 40%;
	margin-left: 20px;

}    

.div_contenedor_causas{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:50px 60px 50px 60px 

}

/*--------- Propiedades de pagina Nosotros ---------*/
/*--------------- GRID + Media query ---------------*/




.imagen_nosotros--sm{
	width: 100%;
	
}


.imagen_nosotros--l{
	width: 70%;
}

.div_contenedor_nosotros{
	display: flex;
	padding:  10px;
	margin: 5px auto;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;

}
	
.div_imagen_nosotros{
	display: flex;
	justify-content: center;

}

.main_div{
	display: flex;
	
}


.parrafos_nosotros{
	font-size: 1.3rem;
	line-height: 25px;

}


.contenedor{
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header header header"
	"section section section"
	"main main aside"
	"main main aside"
	"footer footer footer";
	

}

.contenedor > div,
.contenedor .section,
.contenedor .main,
.contenedor .aside{
	background-color: lightgoldenrodyellow;
	border-radius: 4px;
	padding: 20px;
}

.contenedor .header{
	grid-area: header;
	
}

.contenedor .section{
	grid-area: section;
	
}

.contenedor .main{
	grid-area: main;
	display: flex;
	flex-wrap: wrap;
		
}

.div_50{
	width: 45%;
	padding: 16px;


}

.imagen_100{
	width: 100%;
}

.contenedor .aside{
	grid-area: aside;
}

.contenedor .footer{
	grid-area: footer;
}


/* ----------- Media query 768px --------------*/

@media only screen and (max-width: 768px) {
  .contenedor{
  grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto);
  grid-template-areas: 
	"header"
	"section"
	"main"
	"main"
	"main"
	"aside"
	"footer";

	}

	.div_50{
		width: 100%;
	}

	.navv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(136, 160, 155, 1);
	
}

}

/* ----------- Media query 320px --------------*/

@media only screen and (max-width: 425px) {
  .contenedor{
  grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto);
  grid-template-areas: 
	"header"
	"section"
	"main"
	"main"
	"main"
	"aside"
	"footer";
		}

header{
	text-align: center;
}	

}


/*--------- Propiedades de Formularios ---------*/


.div_forms{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;

}    
  
 .div1{
 	width: 25%;
 }   

.div2{
	witdh: 25%;
}

.div3{
	width: 50%;
}

/*-------- Propiedades de footer --------- */

.pie{
	height: 100px;
	align-items: center;
	display: flex;
	justify-content: center;
	
}

.pie_icon--sm{
	width: 30px;
}

.pie_background{
	background-color:rgba(136, 160, 155,1);
}
		
.pie_align{
	text-align: center;
}			
